/* TITULOS GRALES !!!!! */

.contact,
.history,
.multimedia {
    padding: 50px 25px;
}

.contact__title,
.history__title,
.multimedia__title,
.instalaciones__title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: black;
}