@media (max-width:320px) {

    /* INDEX INDEX INDEX */

    .containerIndex {
        @include containerMeasure(100%, 300px);

        .containerIndex__img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }

    .title {
        @include containerMeasure(auto, 200px);

        .containerIndex__title {
            width: 80%;
            height: 500px;
            display: flex;
            justify-content: center;
        }
    }

    .container__titles__B,
    .containerIndex__title__h1 {
        font-size: 28px;
    }

    .container__titles__A,
    .containerIndex__title__h2 {
        font-size: 20px;
    }

    #carouselExample {
        height: 300px;

        .imgAdapatadaCarousel img {
            max-height: 300px;
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .container {
        height: 900px;
        max-width: 320px;

        .container__titles {
            color: black;
        }
    }

    .container__mapa {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        text-align: center;

        .imgLateral {
            width: 300px;
        }

        .container__mapa__iframe {
            width: 315px;
            height: 200px;
            border-radius: 5px;
        }
    }

    /* CONTACTO CONTACTO CONTACTO */

    .hero {
        height: 300px;

        .hero__text {
            font-size: 80px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .contact__title {
        font-size: 30px;
    }

    .logosContact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 500px;
        gap: 20px;

        .logosContact__logo {
            height: 60px;
            width: auto;
        }

        .logosContact__direccion__title,
        .logosContact__telefono__title,
        .logosContact__mail__title {
            font-size: 24px;
        }

        .logosContact__direccion__description,
        .logosContact__telefono__description,
        .logosContact__mail__description {
            font-size: 17px;
        }
    }

    .ubication {
        height: 400px;

        .ubication__iframe {
            height: 300px;
            width: 310px;
            margin: 2px;
        }
    }

    /* INSTALACIONES INSTALACIONES */

    .instalaciones__title {
        font-size: 35px;
    }

    .titulosInst {
        font-size: 25px;
    }

    .imgEstadio,
    .imgCatedral,
    .imgCapillita {
        width: 318px;
    }

    .iframe__capillita {
        width: 318px;
        height: 300px;
    }

    .estadio__info__texto,
    .catedral__info__texto {
        font-size: 12px;
    }

    .estadio__info,
    .capillita__info,
    .catedral__info {
        grid-template-columns: repeat(1, 1fr);
    }

    /* MULTIMEDIA MULTIMEDIA */

    .video {
        height: 850px;
    }

    .video .videos__complementos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 500px;
        gap: 20px;
        text-align: center;

        .videos__complementos__video {
            width: 310px;
            height: 220px;
        }

    }

    .video__principal__iframe {
        width: 321px;
        height: 250px;
    }

    .videos__complementos {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    .videos__complementos__video {
        width: 310px;
        height: 220px;
    }

    .multimedia__title {
        font-size: 35px;
    }

    /* HISTORIA */
    .history__title {
        font-size: 35px;
    }

    #carouselExample {
        height: 650px;
    }

    .card {
        width: 320px;

        .image__wrapper {
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .image__wrapper img {
            max-width: 100%;
            height: 250px;
            text-align: center;
        }
    }
}

@media (min-width:321px) and (max-width:600px) {

    /* INDEX INDEX INDEX */
    .containerIndex {
        @include containerMeasure(100%, 400px);
        width: 100%;
        height: 400px;

        .containerIndex__img {
            object-fit: cover;
            width: 100%;
            height: 400px;
        }
    }

    .title {
        @include containerMeasure(auto, 200px);
        display: flex;
        align-items: center;
        justify-content: center;

        .containerIndex__title {
            color: black;
            flex-direction: column;
            text-align: center;
            font-size: 20px;
        }
    }


    #carouselExample {
        height: 300px;

        .imgAdapatadaCarousel img {
            max-height: 300px;
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .container__titles__B,
    .containerIndex__title__h1 {
        font-size: 28px;
    }

    .container__titles__A,
    .containerIndex__title__h2 {
        font-size: 20px;
    }

    .container {
        height: 1050px;
        max-width: 1200px;
    }

    .container__mapa {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        text-align: center;

        .imgLateral {
            width: 320px;
        }

        .container__mapa__iframe {
            width: 360px;
            height: 320px;
            border-radius: 5px;
        }
    }

    /* CONTACTO CONTACTO CONTACTO */


    .hero {
        height: 320px;

        .hero__text {
            font-size: 100px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .contact__title {
        font-size: 32px;
    }

    .logosContact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 500px;
        gap: 20px;

        .logosContact__logo {
            height: 60px;
            width: auto;
        }

        .logosContact__direccion__title,
        .logosContact__telefono__title,
        .logosContact__mail__title {
            font-size: 25px;
        }

        .logosContact__direccion__description,
        .logosContact__telefono__description,
        .logosContact__mail__description {
            font-size: 18px;
        }
    }

    .ubication {
        height: 400px;

        .ubication__iframe {
            height: 320px;
            min-width: 320px;
            max-width: 550px;
        }
    }

    /* INSTALACIONES INSTALACIONES */

    .instalaciones__title {
        font-size: 35px;
    }

    .titulosInst {
        font-size: 25px;
    }

    .imgEstadio,
    .imgCatedral,
    .imgCapillita {
        width: 320px;
    }

    .iframe__capillita {
        width: 320px;
        height: 300px;
    }

    .estadio__info__texto,
    .catedral__info__texto {
        font-size: 12px;
    }

    .estadio__info,
    .capillita__info,
    .catedral__info {
        grid-template-columns: repeat(1, 1fr);
    }

    /* MULTIMEDIA MULTIMEDIA */

    .video {
        height: 850px;
    }

    .video__principal__iframe {
        width: 340px;
        height: 280px;
    }

    .video .videos__complementos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 500px;
        gap: 20px;
        text-align: center;

        .videos__complementos__video {
            width: 330px;
            height: 270px;
        }

        .videos__complementos {
            display: grid;
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 10px;
        }

        .videos__complementos__video {
            width: 330px;
            height: 270px;
        }

        .multimedia__title {
            font-size: 35px;
        }

        /* HISTORIA */
        .history__title {
            font-size: 35px;
        }

        #carouselExample {
            height: 700px;
        }

        .card {
            width: 320px;

            .image__wrapper {
                height: 280px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .image__wrapper img {
                max-width: 100%;
                height: 280px;
                text-align: center;
            }
        }

    }
}

@media (min-width:601px) and (max-width:768px) {

    /* INDEX INDEX INDEX */

    #carouselExample {
        height: 600px;

        .imgAdapatadaCarousel img {
            max-height: 600px;
            height: 600px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .container {
        height: 1450px;
        max-width: 1200px;
    }

    .container__titles__B {
        font-size: 33px;
    }


    .container__titles__A {
        font-size: 25px;
    }

    .container__mapa {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        text-align: center;

        .container__mapa__iframe {
            width: 600px;
            height: 400px;
            border-radius: 5px;
        }

        .imgLateral {
            width: 580px;
        }
    }

    /* CONTACTO CONTACTO CONTACTO */

    .hero {
        height: 350px;

        .hero__text {
            font-size: 130px;
        }
    }

    .contact__title {
        font-size: 35px;
    }

    .logosContact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 600px;
        gap: 20px;

        .logosContact__direccion__title,
        .logosContact__telefono__title,
        .logosContact__mail__title {
            font-size: 25px;
        }

        .logosContact__direccion__description,
        .logosContact__telefono__description,
        .logosContact__mail__description {
            font-size: 17px;
        }
    }

    .ubication__iframe {
        height: 400px;
        width: 500px;
    }

    /* INSTALACIONES INSTALACIONES */

    .estadio__info,
    .capillita__info,
    .catedral__info {
        grid-template-columns: repeat(1, 1fr);
    }

    /* MULTIMEDIA MULTIMEDIA */

    .video {
        height: 1000px;
    }

    .video .videos__complementos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 500px;
        gap: 20px;
        text-align: center;

        .videos__complementos__video {
            width: 550px;
            height: 300px;
        }

    }

    .video__principal__iframe {
        width: 600px;
        height: 400px;
    }

    .videos__complementos {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    .videos__complementos__video {
        width: 550px;
        height: 300px;
    }

    /* HISTORIA */

    .card {
        width: 600px;

        .image__wrapper {
            height: 450px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .image__wrapper img {
            max-width: 100%;
            height: 450px;
            text-align: center;
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {

    /* INDEX INDEX INDEX */

    #carouselExample {
        height: 700px;

        .imgAdapatadaCarousel img {
            max-height: 700px;
            height: 700px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

    }

    .container {
        height: 1600px;
        max-width: 1200px;
    }

    .container__titles__B {
        font-size: 33px;
    }


    .container__titles__A {
        font-size: 25px;
    }

    .container__mapa {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        text-align: center;

        .imgLateral {
            width: 700px;
        }


        .container__mapa__iframe {
            width: 720px;
            height: 400px;
            border-radius: 5px;
        }
    }

    /* CONTACTO CONTACTO CONTACTO */

    .hero .hero__text {
        .hero__text {
            font-size: 150px;
        }

        .contact__title {
            font-size: 40px;
        }

        .logosContact {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            height: 600px;
            gap: 20px;
        }

        .ubication__iframe {
            height: 400px;
            width: 700px;
        }

        /* INSTALACIONES INSTALACIONES */

        .estadio__info,
        .capillita__info,
        .catedral__info {
            grid-template-columns: repeat(1, 1fr);
        }

        /* MULTIMEDIA MULTIMEDIA */

        .video {
            height: 1400px;
        }

        .video .videos__complementos {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 500px;
            gap: 20px;
            text-align: center;

            .videos__complementos__video {
                width: 700px;
                height: 400px;
            }

        }

        .video__principal__iframe {
            width: 760px;
            height: 600px;
        }

        .videos__complementos {
            display: grid;
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 10px;
        }

        .videos__complementos__video {
            width: 700px;
            height: 400px;
        }

        /* HISTORIA HISTORIA */

        .card {
            width: 769px;
        }

    }
}

@media (min-width:1025px) and (max-width:1200px) {

    /* INDEX INDEX INDEX */
    .container {
        height: 1600px;
        max-width: 1200px;

        .container__titles__B {
            font-size: 33px;
        }


        .container__titles__A {
            font-size: 25px;
        }

        .container__mapa {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(3, auto);
            text-align: center;

            .container__mapa__iframe {
                width: 720px;
                height: 400px;
                border-radius: 5px;
            }

            .imgLateral {
                width: 700px;
            }

        }

    }

    .container__titles__B {
        font-size: 33px;
    }


    .container__titles__A {
        font-size: 25px;
    }

    .container__mapa {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        text-align: center;

        .container__mapa__iframe {
            width: 720px;
            height: 400px;
            border-radius: 5px;
        }

        .imgLateral {
            width: 700px;
        }

    }

    /* CONTACTO CONTACTO CONTACTO */

    .hero .hero__text {
        font-size: 200px;

        .hero__text {
            font-size: 220px;
        }
    }

    .logosContact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 600px;
        gap: 20px;
    }

    /* INSTALACIONES INSTALACIONES */

    .estadio__info,
    .capillita__info,
    .catedral__info {
        grid-template-columns: repeat(1, 1fr);
    }

    /* MULTIMEDIA MULTIMEDIA */

    .video__principal__iframe {
        width: 1025px;
        height: 900px;
    }

    .videos__complementos {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    .videos__complementos__video {
        width: 510px;
    }
}